
<!DOCTYPE html>

<html>
    <head>
        <title>
            @ViewData["Title"]
        </title>
        <link rel="stylesheet" href="~/css/site.css" />
    </head>
    <body>
        <header>
            <h1>Welcome to my First Website</h1>
        </header>
        <nav>
            <ul>
            <li><a asp-controller="Home" asp-action="Index">Home Page</a></li>
            <li><a asp-controller="Home" asp-action="Blog">Blog Page</a></li>
            <li><a asp-controller="Home" asp-action="About">About Page</a></li>
            </ul>
        </nav>
        <main>
            @RenderBody()
        </main>
        <footer>
            &copy;@DateTime.Today.Year
        </footer>
    </body>
</html>