html {
    background-color: black;
    background-image: url(../Images/indexBackGround.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
ul{
    list-style-type:none;
    margin:0;
    padding:0;
    overflow:hidden;
}
li{
    float:left;
    display:inline;
}
li a{
    background-color:black;
    display:block;
    text-align:center;
    padding: 14px 16px;
    color:darkgoldenrod;
}
li a:hover{
    background-color:azure;
}
p {
    background-color: black;
}
body{
    color:brown;
    word-wrap:normal;
}
h1 {
    text-shadow: -2px 2px 0px gray;
    text-align: center;
    color: black;
}
h2 {
    font-size:larger;
    text-align: center;
    text-shadow: -2px 2px 0px gray;
    color: black;
}
footer {
    font-size:20px;
    text-align: right;
    color: darkred;
}